.coverphoto {
    width: 100vw;
    height: 200px;
}
.coverphoto img {
    width: 100vw;
    height: 200px;
    object-fit: fill;
}
.header1{
    position: sticky;
    top: 0px;
    z-index: 18;
    background: white;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 1px 9px #8e8989;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr 1fr;
    height: fit-content;
}
#open{
    background-color: green;
    position: absolute;
    top: 0px;
    padding: 2px;
    margin-right: 19px;
    border-radius: 0px 0px 5px 5px;
    right: 0px;
    height: 25px;
    padding: 0px 10px;
    color: white;
}
#close{
    background-color: red;
    position: absolute;
    top: 0px;
    padding: 2px;
    margin-right: 19px;
    border-radius: 0px 0px 5px 5px;
    right: 0px;
    height: 25px;
    padding: 0px 10px;
    color: white;
}
#ordermethod{
    margin: 20px auto;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.buttonleft{
    border-radius: 5px 0px 0px 5px;
    border-top: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid  #d9d9d9 ;
    border-bottom: 1px solid  #d9d9d9;
}
.buttonright{
    border-radius: 0px 5px 5px 0px;
    border-top: 1px solid  #d9d9d9;
    border-left: 0px solid #d9d9d9;
    border-right: 1px solid  #d9d9d9;
    border-bottom: 1px solid  #d9d9d9;
}
.nomargin{
    margin: 0px;
    padding: 10px;
    color: #ae1315;
    width: 140px;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0px 5px 4px #e6e6e6;
}
.shadow{
    height: 100vh;
    width: 100vw;
    z-index: 20;
    position: fixed;
    top: 0px;
    /* background-color: #bbbbbb83; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.popupback{
    height: 100vh;
    width: 100vw;
    z-index: 21;
    position:absolute;
}
.content1{
    color: black;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 90vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px #5d5858;
    border: 1px solid gray;
    margin: auto;
    max-height: 90vh;
    overflow: overlay;
    z-index: 25;
}
.clicked{
    color: white ;
    background-color: green;
}
.fa-angle-right{
    font-family: "FontAwesome";
    content: "\f107";
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    display: block;
    transition: transform 300ms;
    font-size: 25px;
}
.list{
    display: grid;
}
.listitem{
    margin-left: 1%;
    // margin-bottom: 10px;
}
.list1 .Collapsible__contentInner{
    padding-top: 0px;;
}
.list1 .Collapsible__trigger{
    background: white;
}
.listitem p{
    margin: 0px;
    padding-left: 2%;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 15px;
    font-weight: 400;
}
.popheader {
    padding: 5px;
    font-size: 15px;
    font-weight: 400;
    
}
.blodp {
    padding: 5px;
    margin: 5px;
    font-weight: 600;
    font-size: 17px;
}
.line{
    width: 95%;
    border-bottom: 1px solid #e8e8e8;
    margin: auto;
}
#selectedbranch{
    width: 100vw;
}
#selectedbranch p {
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 17px;
    color: gray;
}
.langbuttun {
    display: flex;
    justify-content: center;
    align-self: center;
}
.langbuttun p {
    font-size: 17px;
    font-weight: 500;
    padding: 5px;
    padding-right: 15px;
}
.item-name{
    font-weight: 500;
    font-size: 16px;
}
.react-reveal.auth-error.going-different-restaurant-notify.check-range {
    position: fixed;
    right: 0;
}

.mt-8{
    margin-top: 8;
}
.gray-line{
    height: 8px;
    width: 100vw;
    background: lightgray;
}
 .customize-line{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid #eee;
 }
 .bold-400{
     font-weight: 500;
 }