.cartrestorant{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr ;
    height: fit-content;
    background: white;
    border-radius: 0px 0px 15px 15px;
}
.cartquantity {
    margin: 0;
    color: red
}
.line{
    width: 95%;
    border-bottom: 1px solid #e8e8e8;
    margin: auto;
}
div#commentid {
    margin-top: 20px;
}

.form-control1{
    height: 34px;
   display: block;
    width: 100%;
    padding: 8px 14px;
    font-size: 1rem;
    line-height: 16px;
    color: #575757;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid #dcdfe3; */
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s; 
}
.bb1{
    border-radius: 0px 0px 10px 10px;
}
.input-group-append{
    border-left: 1px  solid lightgray;
    z-index: 9
}
.item-text1 {
    font-size: 1rem;
    /* text-transform: uppercase; */
  
}
.nostyle{
    font-weight: 300;
}